
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container-fluid d-flex justify-content-between align-items-center">

      <h1 class="logo me-auto me-lg-0"><a href="index.html">Iyonsi</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        
      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          
            <li><a [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a></li> 
            <li><a [routerLink]="['/about-me']" routerLinkActive="router-link-active">About Me</a></li>
            <li><a [routerLink]="['/skills']" routerLinkActive="router-link-active">Skills</a></li> 
            <li><a [routerLink]="['/portfolio']" routerLinkActive="router-link-active">Portfolio</a></li>
            <li><a [routerLink]="['/contact']" routerLinkActive="router-link-active">Contact</a></li>
            
            
            
                 
            <i class="bi bi-list mobile-nav-toggle"></i>
          </ul>
          </nav><!-- .navbar -->
          
          <div class="header-social-links">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
    
        </div>
    
      </header><!-- End Header -->